# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# ------------------------
# Jupyter Notebooks
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Environments
# ------------------------
.env
.env.*
.venv/
venv/
ENV/
env/
*.env

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Streamlit
# ------------------------
.streamlit/secrets.toml

# ------------------------
# PyCharm
# ------------------------
.idea/

.devcontainer
Presentation Media/
RAG Chat Bot.pptx
~$RAG Chat Bot.pptx
